
.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--color-background);

  &__title {
    font-size: var(--font-size-subtitle);
    font-weight: bolder;
    width: 210px;
    margin: 16px 0;
    text-align: center;
    z-index: 2;
  }
  &__title-b {
    font-size: var(--font-size-big);
    width: 600px;

  
  }
  &__button {
    width: 190px;
    height: 40px;
    border-radius: 5px;
    font-family: var(--font__Book-Antiqua);
    font-weight: bolder;
    font-size: var(--font-size-text);
    color: var(--color-background);
    margin-bottom: 16px;
    border: solid var(--color-background) 2px;
    background-color: transparent;
    z-index: 4;
  }
  &__button1 {
    background-color: var(--color-secondary);
  }
  &__button-b {
    width: 280px;
    height: 50px;
    font-size: var(--font-size-text);
  }
}
