.values-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    list-style: none;
}
.values-list-b{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    list-style: none;
}